// Database string connection. This example is for a MongoDB connection in Atlas.
MONGODB_URI=mongodb+srv://<user>:<password>@<database>.sfizdkm.mongodb.net/<database>?retryWrites=true&w=majority&appName=<appName>
NEXT_PUBLIC_APP_NAME=Public name of the web/app
NEXT_PUBLIC_APP_DESC=Public description of the web/app